/.gitignore.txt

History
*.STEP
Project Outputs for MCU
Project Outputs for connectors
Project Outputs for resistor
Project Outputs for Rez_Gen
Project Outputs for Diode
Project Outputs for opto_electronic
Project Outputs for Capacitor
Project Outputs for interf